@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
/* HTML element (SMACSS base) rules */
@import 'normalize.css';

/* Layout rules */
@import 'layouts/responsive.css';

@font-face {
  font-family: 'icons';
  src: url('font/fontello.eot%3F98333103');
  src: url('font/fontello.eot%3F98333103') format('embedded-opentype'),
    url('font/fontello.woff%3F98333103') format('woff'),
    url('font/fontello.ttf%3F98333103') format('truetype'),
    url('font/fontello.svg%3F98333103') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('font/montserrat-regular-webfont.eot');
  src: url('font/montserrat-regular-webfont.eot%3F') format('embedded-opentype'),
    url('font/montserrat-regular-webfont.woff2') format('woff2'),
    url('font/montserrat-regular-webfont.woff') format('woff'),
    url('font/montserrat-regular-webfont.ttf') format('truetype'),
    url('font/montserrat-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratBold';
  src: url('font/montserrat-bold-webfont.eot');
  src: url('font/montserrat-bold-webfont.eot%3F') format('embedded-opentype'),
    url('font/montserrat-bold-webfont.woff2') format('woff2'),
    url('font/montserrat-bold-webfont.woff') format('woff'),
    url('font/montserrat-bold-webfont.ttf') format('truetype'),
    url('font/montserrat-bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* init */
html {
  font-size: 62.5% !important;
  line-height: normal !important;
}
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 17px;
  background: #fff;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
body a:hover,
body a:focus {
  color: inherit;
  outline: none;
  text-decoration: underline;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body p {
  line-height: 1.8;
  margin: 0 0 1.8em;
}
body h1 {
  font-size: 2.353em;
  margin: 0.75em 0 0 0;
  line-height: 1.6;
  font-family: 'MontserratBold', Arial, Helvetica, sans-serif;
}
body h2 {
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin: 0 0 0.75em;
  font-weight: 900;
  line-height: normal;
  color: #00a2e0;
  font-family: 'MontserratBold', Arial, Helvetica, sans-serif;
}
input,
input:focus {
  outline: none;
}
.panel-display {
  width: 100%;
  overflow: hidden;
}

/*** [ Content ] ***/
/* homepage */
/* crédits */
.not-front .center-wrapper {
  width: 1000px;
  margin: 0 auto;
}
/* colonnes */
body .node-canevas .panels-flexible-region-inside {
  padding: 0;
}
.pane-page-content {
  clear: both;
  border-top: 1px solid #5bc5f2;
  /*border-top: 1px solid #2c6bb0;*/
  margin-top: 5px;
  padding-top: 60px;
}
#page-tools .social-networks-share {
  float: right;
  height: 34px;
  overflow: hidden;
}
.pane-aphp-page-tools {
  float: right;
}
.pane-page-content:after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.panel-flexible-inside:after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.panel-flexible-inside .panels-flexible-region-first {
  float: left;
  width: 690px;
  margin-bottom: 78px;
}
.pane-page-content .colonne-droite {
  width: 285px;
  float: right;
}
.panel-flexible-inside .panels-flexible-region-first .inside {
  padding: 0;
}
.pane-node-field-chapo {
  font-weight: bold;
}
.pane-node-field-chapo,
.pane-node-body {
  line-height: 1.8;
  margin-bottom: 4.5em;
}
/*.titre-encart + div.encart {
  padding-top: 0;
}*/
.pane-aphp-voir-aussi-panel-pane-voir-aussi .view-aphp-voir-aussi {
  color: #0063af;
}
/* Media rattache*/
/* actualites */
/*association*/
/*End liste association*/
/*qualite et securite des soins*/
/*end */
/*.views-exposed-form .views-submit-button:after {
  content: '';
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-right-width: 0;
  border-left-color: #000;
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -9px;
}*/
.pane-infos-publication {
  margin: 0.5em 0;
  float: left;
  color: #808080;
  font-size: 0.8em;
}
/* page editoriale */
/*consultation */
/*End consultation*/
/**/
/* demarches */
/* image */
/* hopitaux */
/* fiche hopital */
.pane-aphp-voir-aussi-panel-pane-voir-aussi {
  padding: 3em 0 0;
  border-top: 2px solid #5bc5f2;
  position: relative;
}
.pane-aphp-voir-aussi-panel-pane-voir-aussi {
  border-top: none;
  margin: 6em 0 0;
  padding: 0;
  background: #eff9fe;
  padding-bottom: 20px;
}
/* espace presse */
/* ressources presse */
/*** [ sidebar ] ***/
/*.field-name-field-liens-utiles .node-title a:before {
  content: '';
  height: 2px;
  width: 6px;
  background: #000;
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -1px;
}
.field-name-field-liens-utiles .node-title a:after {
  content: '';
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-right-width: 0;
  border-left-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}*/
/* contact */
/* infowindow map */
/* search page */
/* detail service */
/* qualite securite soin */
/*** [ Footer ] ***/
.pane-block-8 {
  padding: 2em 0 1.5em;
  background: white;
  color: #0063af;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.pane-menu-liens-du-pied-de-page {
  background: white;
}
.pane-menu-liens-du-pied-de-page > div {
  padding: 1.5em 0;
  color: rgba(0, 73, 132, 0.52);
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  border-top: 2px solid rgba(0, 73, 132, 0.52);
  max-width: 70%;
  margin: 0 auto;
}
.pane-menu-liens-du-pied-de-page ul {
  margin: 0;
  padding: 0;
}
.pane-menu-liens-du-pied-de-page ul li {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline;
  list-style: none;
}

.pane-menu-liens-du-pied-de-page ul li:before {
  content: ' | ';
  font-size: 1.2em;
  margin: 0 10px;
}
.pane-menu-liens-du-pied-de-page ul li:first-child:before {
  content: none;
}
/* Responsive */
/* bloc twitter homepage */
/* bloc facebook homepage */
/* AUTOPROMOTION */
/* autopromo type liens */
/* autopromo type image */
/* Addition du 12/11/2015 by Adam Carton de Wiart */
/******************/
/* évolutions 2.2 */
/******************/

/* espace multimédia */
/* page /associations */
/* /qualite-et-securite-des-soins */
/* /espace-multimedia */

/* recherche de la barre d'outils */
/*Add by Gaël Fontaine, 25/01/2016*/
/* page Ressources presse */
/* Evolutions 2.3 Espace multimédia */

/* champs de recherche */
/* facette type */
/* facette mots-clés vidéo */
/* facette type */
/* facette mot-clés vidéo */
/* résultats */
/* visuel */
/* infos publications */
.pane-infos-publication {
  width: 60%;
}
/* plan du site */
/* page des associations */
/* liste des actualités */
/* dates */
/* bouton rechercher */
/* diaporamas */

.pane-page-content .field-name-field-chapo {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  font-size: 1.176em;
}

/* document */
/* fichier vidéo */
/* description fichier vidéo */
/* gtranslate */
/*A voir aussi*/
.pane-aphp-voir-aussi-panel-pane-voir-aussi h2 {
  background: #0063af;
  color: #fff;
  font-family: 'MontserratBold', sans-serif;
  font-size: 25px;
  font-size: 1.471em;
  padding-left: 42px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 38px;
}
/* WYSIWYG */
/* bannière rdv en ligne */
.views-field-field-url-rdv-online > .field-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.views-field-field-url-rdv-online > .field-content > div > a {
  font-size: 0.941em;
}
.views-field-field-url-rdv-online > .field-content > div > a p {
  margin: 0;
}
.views-field-field-url-rdv-online > .field-content > div > a:hover {
  text-decoration: underline;
}
/* style iframe*/
/*iframe popin*/
/*** colobox overlay ***/
/* Admin menu style */

/** Page Newsletter */

/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Component (SMACSS module) rules */
/* @import 'components/misc.css'; */

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
body {
  margin: auto 0 !important;
}

/******************** PLAN DU SITE ********************/
.pane-menu-liens-du-pied-de-page li {
  list-style: none !important;
  list-style-type: none !important;
}
#page-tools {
  float: right;
  text-align: center;
}
#page-tools .social-networks-share .fb {
  float: left;
}
#page-tools .social-networks-share .tw {
  float: left;
}
#page-tools .social-networks-share .in {
  float: left;
}
#page-tools .social-networks-share .tw,
#page-tools .social-networks-share .in {
  margin-left: 33px;
  margin-left: 1.941em;
}
#page-tools .social-networks-share .fb {
  margin-left: 37px;
  margin-left: 2.176em;
}
#page-tools .social-networks-share .in {
  margin-right: 16px;
  margin-right: 0.941em;
}

/***** Lien utile *****/

/***** APHP dans les médias *****/

/***** SECTIONS *****/

/***** Moteur de recherche *****/

/***** Cookies *****/
.pane-pane-messages,
.pane-page-title {
  clear: both;
}

/********** Listes de publications & événements **********/

/********** Audio : page détail **********/

/********** Vidéo : page détail **********/

/********** Espace multimédia **********/

/********** Page détail publication **********/

/********************* Page ressource ******************************/

/*****************page recherche*****************/

/****************** home page ************************/

/********** Page rubrique **********/
/* précédent */
/* suivant */
/* image */
/******************************************************************************/
/******************************sidebar*******************************************************/
/******************************************************************************/

/*Custom page espace-multimedia */
/*page association*/
/*block adresse */

/* Page diapo*/

/*Bloc custom contacter le service de presse de l'AP-HP' */

/* NODE TYPE NEWSLETTER */

/* Bloc Newsletter */

/* remove subscription */

/* Newsletter inscription page */

/* AUTOCOMPLETE */
@media only screen and (max-width: 1450px) {
  /* 1st break point, landscape tablet */
  .views-field-field-url-rdv-online > .field-content,
  .pane-menu-liens-du-pied-de-page .menu-block-wrapper,
  .not-front .center-wrapper {
    width: 995px;
  }

  .panel-flexible-inside .panels-flexible-region-first {
    width: 690px;
  }
}
@media only screen and (max-width: 1024px) {
  /* second breakpoint portrait tablet */
  .panel-col-top .inside,
  .views-field-field-url-rdv-online > .field-content,
  .pane-menu-liens-du-pied-de-page .menu-block-wrapper,
  .not-front .center-wrapper {
    width: 740px;
  }
  .panel-flexible-inside .panels-flexible-region-first {
    width: 432px;
  }
}

@media only screen and (max-width: 767px) {
  /*@media only screen and (max-width: 782px) {*/
  /* third breakpoint mobile */
  body p {
    line-height: 1.6;
  }
  /* hauteur video */

  /*bloc sidebar*/
  /*End*/
  .pane-node-field-chapo,
  .pane-node-body {
    margin-bottom: 2.5em;
  }
  .panel-col-top .inside,
  .views-field-field-url-rdv-online > .field-content,
  .pane-menu-liens-du-pied-de-page .menu-block-wrapper,
  .not-front .center-wrapper {
    width: auto;
  }
  .pane-block-8 > *:first-child {
    max-width: auto;
  }

  /* li rouge PATIENT/PUBLIC et PROFESSIONNEL DE SANTE */

  /* flèche blanche épaisse */

  /* on cache le bouton fermer */

  /* li rouge "Vous venez en consultation", etc. */

  /* flèche blanche  uniquement pour ceux qui ont un menu */

  /* flèche noire sur li gris */
  /* ---------------------------- */
  .panel-col-top a:hover,
  .panel-col-top a:focus {
    text-decoration: none;
  }
  .panel-col-top {
    min-height: 65px;
  }

  .not-front .center-wrapper {
    /*padding: 0 15px;*/
    padding-left: 2% !important;
    padding-right: 2% !important;
    width: 100% !important;
  }
  .panel-flexible-inside .panels-flexible-region-first,
  .pane-page-content .colonne-droite {
    float: none !important;
    /*width: auto;*/
    width: 100% !important;
  }
  .pane-page-content .colonne-droite {
    margin: 0 -20px 40px;
  }
  .panel-flexible-inside .panels-flexible-region-first {
    padding: 30px 20px 0;
  }
  .pane-aphp-voir-aussi-panel-pane-voir-aussi {
    /*margin-left: -20px;
    margin-right: -20px;*/
  }
  .pane-aphp-voir-aussi-panel-pane-voir-aussi {
    padding-left: 20px;
    padding-right: 20px;
  }
  .panel-flexible-inside .panels-flexible-region-first {
    margin: 0 -15px;
  }
  /*End a voir aussi*/
  body h1 {
    font-size: 33px;
    font-size: 3.3rem;
  }
  .pane-page-content {
    margin-top: 20px;
    padding-top: 0;
  }
  body #page-tools,
  body .pane-infos-publication {
    float: none;
  }
  body #page-tools {
    float: none;
    margin: 20px 0;
    text-align: left;
  }

  /* news list */

  .panel-display {
    overflow: visible;
  }
  .pane-page-content .colonne-droite {
    float: none;
    padding: 10px 0 0;
    width: auto;
    margin: 0;
  }

  /* ressources presse */
  .pane-aphp-page-tools {
    float: none;
    display: none;
  }
  #page-tools .social-networks-share {
    float: none;
  }

  /* largeur colonne */

  /* lien + */

  /***** Cookie *****/

  body #page-tools {
    display: none;
  }
  /***** Bibliothèque de liens *****/

  /***** Espace multimédia *****/
  /***** Bibliothèque de liens ********/

  /***** Vidéo *****/

  /*********************block diaporama **********************/

  /* contrôles */
  /* suivant */

  /* image */
  /*actu*/
  /*  .pane-aphp-voir-aussi-panel-pane-voir-aussi h2,
    .pane-aphp-voir-aussi-panel-pane-voir-aussi{
      margin-left: -30px;
      margin-right: -30px;
    }
    .view-aphp-voir-aussi .view-content ul li {
      margin-left: 10px;
    }
    .pane-aphp-voir-aussi-panel-pane-voir-aussi{
      padding-bottom: 0.5em;
    }*/
  .pane-aphp-voir-aussi-panel-pane-voir-aussi {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .pane-aphp-voir-aussi-panel-pane-voir-aussi {
    margin: 3em 0 0;
  }
  .pane-page-content .colonne-droite {
    margin-top: 40px;
  }
  /*End actu*/
  /*actu*/
  /*video*/
  /*FAQ*/
  /* End*/
  /*Formulaire*/
  .panel-flexible-inside .panels-flexible-region-first {
    padding: 29px 0px 0px;
    margin: 0px;
  }
  /*End Formulaire*/
  /*page recherche*/
  /*Menu*/
  /*Plan du site*/
  body .pane-infos-publication {
    width: 100%;
  }

  /* tables */
}
@media only screen and (max-width: 500px) {
  body h1 {
    font-size: 1.6em !important;
  }
}
/* Iphone 5 */

/* Custom AP */

.form-container form,
.faq-container {
  margin: 0 42px;
}

.form-container form input,
.form-container form textarea {
  height: 55px;
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #003e8f;
  font-size: 17px;
  transition: box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  padding: 0 17px;
}

.form-container form textarea {
  height: 150px;
  width: 100%;
}

.form-container form input:focus,
.form-container form textarea:focus {
  box-shadow: 0 0 4px #666;
}

.form-container form input[type='submit'] {
  color: white;
  font-weight: bold;
  background: #00a5e6;
  cursor: pointer;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.1) inset;
  transition: background-color 0.15s ease-in-out 0s,
    transform 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}

.form-container form input[type='submit']:hover {
  background-color: #1abeff;
}

.form-container form input[type='checkbox'] {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.form-container .wpcf7-list-item-label {
  font-weight: normal;
}

#volontaires-menu div {
  padding: 7px 11px;
  color: #fff;
  background: #153d8a;
  font-family: inherit;
  font-size: 17px;
  text-transform: none;
  margin-bottom: 20px;
}

#volontaires-menu-mobile {
  display: none;
}

.faq-container .faq-question {
  font-weight: bold;
  margin-bottom: 17px;
}
.faq-container .faq-answer {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .form-container form,
  .faq-container {
    margin: 0 21px;
  }
  .pane-aphp-voir-aussi-panel-pane-voir-aussi h2 {
    padding-left: 21px;
  }

  #volontaires-menu {
    display: none;
  }

  #volontaires-menu-mobile {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  #volontaires-menu-mobile div {
    padding: 7px 20px;
    color: #fff;
    background: #153d8a;
    font-family: inherit;
    font-size: 17px;
    text-transform: none;
    margin-right: 10px;
  }

  .panel-flexible-inside .panels-flexible-region-first {
    padding: 20px 0px 0px;
  }
}

html {
  scroll-behavior: smooth;
}

.banner-text {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.faq-panel {
  margin-top: 40px;
}
