/* page d'un service */
body.page-service .pane-page-title {
    margin-top: 56px;
    margin-top: 5.6rem;
}

body.page-service .pane-page-content {
    padding-top: 34px;
}

/* infos du service */
.service-infos {
    padding: 1em 0em;
    border-bottom: 1px solid #2c6bb0;
}

.service-infos h2 {
    font-size: 34px;
    color: #28386b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.service-infos h3 {
    font-size: 1.1em;
    color: #000000;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: none;
}

.service-infos a {
    color: #2b6baf;
}

.service-infos a:hover {
    color: #28386b;
}

.service-infos p {
    margin: 0;
}

/* liste des médecins */
body.page-service .result {
    margin-top: 32px;
    margin-bottom: 188px;

}

.service-list-title {
    font-weight: bold;
    margin-bottom: 0.4em;
}

.service-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.service-list li {
    line-height: 1.7em;
}

.service-doctor {
    margin-bottom: 36px;

}

.service-doctor h4 {
    color: #45a1d8;
    font-size: 1.1em;
    margin: 1em 0 0 0;
}

.service-doctor-consultation {
    font-weight: bold;
    padding-left: 0.5em;
}

.service-doctor-consultation a {
    font-weight: normal;
}

.service-doctor-consultation p {
    margin: 0;
}