/* page consultation */
.pane-page-content .care-offer {
    margin-top: -53px;
}

.care-offer .left {
    width: 50%;
    float: left;
    min-height: 545px;
}

.care-offer .right {
    min-height: 545px;
    width: 50%;
    float: right;
    background: #eef8fd;
    border-left: 15px solid #ffffff;
    padding: 2em 1em;
}

.care-offer p {
    margin-bottom: 0.5em;
}

.care-offer-detail-informations {
    padding: 2em 1em;
    background: #eef8fd;
    border-bottom: 15px solid #ffffff;
}

.care-offer-detail-hospital {
    padding: 2em 1em;
    background: #eef8fd;

}

/* titre */
.care-offer h2,
.hospital-link {
    margin-bottom: 0.5em;
    text-transform: initial;
    font-size: 22px;
    font-size: 2.2rem;
    font-family: 'MontserratBold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* nom des champs */
.detail-field {
    font-weight: bold;
}

/* téléphone */
.care-offer .doctor span[itemprop=telephone] {
    font-size: 1.1em;
    color: #45a2d8;
    font-weight: bold;
    text-decoration: none;
}

/* plus de détails */
.more-details-container {
    margin-top: 1em;
}

.more-details-link {
    color: #2c6bb0;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 30px;
}

.more-details-link.hide-list-0 {
    background: url('../images/arrow-right-blue-2.png') no-repeat;
}

.more-details-link.display-list-0 {
    background: url('../images/arrow-bottom-blue.png') no-repeat;
}

.more-details-link:hover {
    cursor: pointer;
}

.map-container {
    margin-top: 1em;
}

.care-offer #map-canvas {
    width: 100%;
    height: 415px;
}

/* lien de téléchargement de la carte*/
.care-offer-detail-access-map {
    margin-top: 50px;
}

.map-download {
    font-weight: bold;
    padding-left: 1em;
    position: relative;
}

.care-offer-detail-access-map a {
    background: url('../images/telechargement.png') no-repeat;
    padding-left: 57px;
    padding-top: 16px;
    margin-left: 20px;

}

.care-offer-detail-access-map a {
    color: #2b6baf;
}

.care-offer-detail-access-map a:hover {
    color: #153d8a;
}

.panel-pane.pane-page-title > h1 {
    margin-bottom: 0.5em;
}

.right h2 {
    padding: 0em;
    margin: 0;
}

/* contenus rattachés de l'hôpital */
.attached-contents,
.cross-content {
    font-weight: bold;
    text-align: left;
    padding: 2em 0em 0;
}

.attached-contents p {
    line-height: 1.5em;
}

/* contenu rattaché autre que vidéo */
.attached-contents .attached-content-title {
    margin-bottom: 0.7em;
}

/* contenu rattaché de type vidéo */
.attached-contents .attached-content-video {
    margin-bottom: 1em;
}

/* image de la vidéo */
.attached-contents .attached-content-video-image {
    width: 68%;
    position: relative;
}

.attached-contents .attached-content-video-title {
    color: #244a8b;
    font-weight: 600;
    margin-top: 10px;
}

.attached-contents .attached-content-title {
    font-weight: 600;
}

.content-map {
    width: 100%;
}

.attached-contents .attached-content-video-image:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: url('../images/play.png');
    margin-left: -22px;
    margin-top: -22px;
}

.attached-contents .attached-content-video-image:hover {
    cursor: pointer;
}

/* titre de la vidéo */
/*.attached-contents .attached-content-video-title {
  padding: 0.5em 1em;
  float: left;
  width: 63%;
}*/

.div-hospital-name {
    display: inline;
}

/* cross-content */

.consultation-cross-content-image {
    position: relative;
    border-top: none;
    width: 37%;
    float: left;
}

.consultation-cross-content-image:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: url('../images/play.png');
    margin-left: -22px;
    margin-top: -22px;
}

.consultation-cross-content-title {
    float: left;
    width: 63%;
    padding: 0.5em 1em;
}

@media only screen and (max-width: 768px) {
    .care-offer .left,
    .care-offer .right {
        float: none;
        width: 100%;
        padding: 0;
    }

    .pane-page-content .care-offer {
        margin-top: 0px;
    }

    .content-map,
    .attached-contents .attached-content-video-image {
        width: 100%;
    }

    .care-offer-detail-access-map a {
        margin-left: 0px;
    }

    .care-offer .left {
        margin-bottom: 1em;
    }
}