/* page des résultats ODS */

.results-ODS {
    margin-left: 40px;
    margin-top: -6px;

}

.results-ODS-hospital-noname {
    padding: 0em 1.5em 1em 1.5em;
    margin-top: -1.5em;
}

.results-ODS-hospital {
    background-color: #ffffff;
    padding: 1.04em 0em 0.7em 0em;
    margin-bottom: 1em;
}

.results-ODS-hospital > h2 {
    margin-bottom: 0.5em;
}

.results-ODS-service-noname {
    padding-bottom: 0.5em;
}

.results-ODS-service {
    padding-top: 0.5em;
    border-top: 2px solid #adddf5;
}

.results-ODS-service-link {
    display: block;
    margin: 0 0 1em;
    font-size: 16px;
    font-size: 1.6rem;
    color: #2b6baf;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.results-ODS-service-link:hover {
    color: #2b6baf;
}

.results-ODS-service:nth-child(2) {
    border-top: none;
}

.results-ODS h2 a {
    font-size: 23px;
    font-size: 2.3rem;
    text-transform: initial;
    color: #153d8a;
    padding-left: 13px;
    background: url('../images/arrow-right-black.png') 0px 8px no-repeat;
}

.results-ODS h2 a:hover {
    color: #46a2d9;
}

.results-ODS h3 {
    margin-bottom: 0.5em;
    color: #2c6bb0;
    font-size: 18px;
    font-size: 1.8rem;
    position: relative;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.results-ODS h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.results-ODS h3.closed:after {
    content: url('../images/arrow-right-blue.png');
    position: absolute;
    top: 0.1em;
    right: 0;
}

/*.results-ODS h3.closed:hover:after {
    content: url('../images/next_red_big.png');
    position: absolute;
    top: 0.1em;
    right: 0;
}*/

.results-ODS h3:after {
    content: url('../images/arrow-bottom-blue.png');
    position: absolute;
    top: 0.1em;
    right: 0;
}

/*.results-ODS h3:hover:after {
    content: url('../images/reduce_red_big.png');
    position: absolute;
    top: 0.1em;
    right: 0;
}*/

.results-ODS h4 {
    color: #739ebe;
    font-size: 1.1em;
    margin: 0;
}

.results-ODS p {
    margin: 0;
}

.results-ODS-doctor {
    padding-top: 0.3em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #2c6bb0;
    padding-bottom: 0.8em;
}

.results-ODS-doctor:last-child {
    border-bottom: none;
}

.results-ODS-consultation {
    font-weight: bold;
    padding-left: 0.5em;
}

.results-ODS-consultation a {
    font-weight: normal;
}

/* gif de chargement */
#results-ods-load {
    text-align: center;
    margin: 1em;
}

.ajax-progress-throbber {
    display: none;
}

.results-ODS .consultation-title {
    font-weight: bold;
}
