.search-facets .link-more,
.aphp-search-page .content .sidebar .facet a.page-link {
    font-size: 14px;
    font-size: 1.4rem;
    color: #2c6bb0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding-left: 35px;
    background: url('../images/fleche-bleu-clair-right.png') 0px 4px no-repeat;
    display: block;
}

.aphp-search-page .content .result .item > em {
    font-size: 14px;
    font-size: 1.4rem;
    color: #57748c;
}

.aphp-search-page .content .result .item .right p {
    margin-bottom: 0;
}

.aphp-search-page .content .result .item .right p .hours {
    display: inline;
    font-weight: bold;
}

.aphp-search-page .content .result .item span[itemprop=telephone] {
    font-weight: bold;
}

.care-offer .doctor p .hours {
    font-weight: bold;
}

.care-offer .hospital a.phone {
    display: inline;
    color: #000;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: normal;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.care-offer .hospital a.phone:after,
.care-offer .hospital a.phone:before {
    display: none;
}

/* message d'erreur en cas d'indisponibilité du moteur */
.search-unavailable {
    background-color: white;
    padding: 1em;
    margin-top: 1em;
}

/* page des résultats sur ce site */
.search-content-image {
    float: left;
    width: 25%;
    margin-right: 0.6em;
    position: relative;
}

.search-content-image img {
    display: block;
}

.search-content-image:hover {
    cursor: pointer;
}

.search-content-image:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: url('../images/play.png');
    margin-left: -22px;
    margin-top: -22px;
}

body ul.ui-autocomplete mark {
    color:#003E8F;
    background:none;
    font-weight:bold;
}