.footer-top .block_autopromo {
  background-color: #0c487f;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.footer-top .pane-aphp-global-aphp-footer-block {
  max-width: 1300px;
  margin: 0 auto;
  padding: 35px 10px;
}

.footer-top .block_autopromo .pane-title {
  color: white;
  border-left: 3px solid #ff7c4e;
  padding-left: 15px;
  font-family: "Open Sans", sans-serif;
}

.footer-folders-wrapper {
  width: 75%;
  float: left;
  padding-left: 15px;
}

.footer-folders-wrapper > .title,
.footer-social-networks-wrapper > .title {
  margin-bottom: 10px;
}

.footer-folders-wrapper > .title > h3,
.footer-social-networks-wrapper > .title > h3 {
  color: white;
  display: inline;
  border-bottom: 1px solid #597b99;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-size: 1.4em;
}

.footer-folders-wrapper > .content > div {
  width: 33%;
  float: left;
  padding-right: 45px;
}

.footer-folders-wrapper > .content > div ul {
  margin: 0;
  padding: 0;
}

.footer-folders-wrapper > .content > div li {
  list-style: none;
}

.footer-social-networks-wrapper {
  width: 25%;
  float: left;
}

.footer-social-networks-wrapper ul {
  padding: 0;
  margin: 0
}

.footer-social-networks-wrapper li.menu__item {
  display: block;
  list-style: none;
  float: left;
  width: 50%;
  line-height: 24px;
  margin-bottom: 25px;
}

.footer-social-networks-wrapper li.menu__item > a {
  display: inline-block;
  margin-left: 5px;
  float: left;
  text-decoration: none;
  font-weight: 400;
  position: relative;
}
.footer-social-networks-wrapper li.menu__item > a:hover,
.footer-social-networks-wrapper li.menu__item > a:active {
  text-decoration: none;
}

.footer-social-networks-wrapper li.menu__item > a:after {
  content: ' ';
  height: 1px;
  background: white;
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.facebook-menu-link:before,
.linkedin-menu-link:before,
.youtube-menu-link:before,
.twitter-menu-link:before {
  display: inline-block;
  content: ' ';
  height: 24px;
  width: 24px;
  background: transparent url("../images/social_networks.png") 0 0 no-repeat;
  float: left;
}

.linkedin-menu-link:before {
  background-position: -72px 0;
}

.youtube-menu-link:before {
  background-position: -24px 0;
}

.twitter-menu-link:before {
  background-position: -48px 0;
}
