/* Hero Banner */
.homepage-showcase-wrapper > .inside > .content {
  justify-content: space-around!important;
  max-width: 950px;
  width: 100%;
  margin: 35px auto 0 auto!important;
  flex-wrap: wrap;
}
.homepage-showcase-wrapper > .inside > .content > div + div {

}

.homepage-showcase-wrapper article > a > div.icon {
  font-size: 2.5em!important;
}

/* Homepage news block */
.pane-aphp-actualite-panel-pane-home-actualites {
  background-color: #e6f1f9;
}

.pane-aphp-actualite-panel-pane-home-actualites > div {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.pane-aphp-actualite-panel-pane-home-actualites .pane-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 45px 0 25px 0;
  color: #00428b;
  font-size: 3em;
  margin: 0;
}

.pane-aphp-actualite-panel-pane-home-actualites .statistics_counter {
  display: none;
}

.pane-aphp-actualite-panel-pane-home-actualites img {
  display: block;
}

.pane-aphp-actualite-panel-pane-home-actualites .views-row {
  max-width: 25%;
  float: left;
  padding: 2.5%;
  transition: background-color 0.2s ease;
}
.pane-aphp-actualite-panel-pane-home-actualites .views-row:nth-child(4n+1) {
  clear: both;
}

.pane-aphp-actualite-panel-pane-home-actualites .views-row:hover .views-field-title {
  background: #0063af;
  color: white;
}

.pane-aphp-actualite-panel-pane-home-actualites .views-field-title {
  background-color: white;
  text-align: center;
}

.pane-aphp-actualite-panel-pane-home-actualites .views-field-title {
  color: #00428b;
  font-family: MontSerrat, sans-serif;
  padding: 1em;
  font-weight: 500;
  line-height: 1.2em;
  height: 6.5em;
  display: table;
  width: 100%;
}
.pane-aphp-actualite-panel-pane-home-actualites .views-field-title .field-content{
  display: table-cell;
  vertical-align: middle;
}

.pane-aphp-actualite-panel-pane-home-actualites .view-footer,  .pane-aphp-carto-hospital-homepage .homepage-map-link{
  display: block;
  text-align: center;
  padding: 15px 15px 45px 15px;
  background-color: rgba(71,40,40,0.15);
  width: 300px;
  margin: 0 auto;
  background-color: #e6f1f9;
  z-index: 1;
  position: relative;
}
.pane-aphp-carto-hospital-homepage .homepage-map-link{
  background-color: white;
}
.view-display-id-panel_pane_home_actualites:after, .pane-aphp-carto-hospital-homepage:after {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 0;
  height: 2px;
  background: #b4d3e5;
  content: " ";
  z-index: 0;
}

.pane-aphp-actualite-panel-pane-home-actualites .view-footer > a, .pane-aphp-carto-hospital-homepage .homepage-map-link a {
  border: 1px solid #00428b;
  color: #00669f;
  padding: 5px 35px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
}

/* Homepage folders */
.pane-aphp-global-aphp-homepage-folders .inside {
  max-width: 1300px;
  margin: 0 auto;
  color: white;
  padding: 0 10px 35px 10px;
}

.pane-aphp-global-aphp-homepage-folders .block_autopromo_wrapper {
  color: white;
}

.pane-aphp-global-aphp-homepage-folders > .pane-title {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  padding: 25px 10px 35px 10px;
  line-height: 65px;
  color: white;
  max-width: 1300px;
  margin: 0 auto;
}

.pane-aphp-global-aphp-homepage-folders .inside > div {
  width: 33%;
  float: left;
}

.pane-aphp-global-aphp-homepage-folders article ul {
  margin: 0;
  padding: 0;
}

.pane-aphp-global-aphp-homepage-folders article ul > li {
  list-style: none;
  border-left: 3px solid #ff7c4e;
  padding: 5px 15px;
}

.pane-aphp-global-aphp-homepage-folders article ul > li + li {
  margin-top: 25px;
}

.pane-aphp-global-aphp-homepage-folders article ul > li > a {
  list-style: none;
  font-family: MontSerratBold, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  /*font-size: 1.3em;*/
  font-size:19px;
  display: inline-block;
  margin-bottom: 5px;
}

/*******************/
/* SOCIAL NETWORKS */
/*******************/

.pane-social-networks {
  background-color: #e6f1f9;
}

.pane-social-networks > .panel-display {
  max-width: 1280px;
  margin: 0 auto;
}

#mini-panel-social_networks  {
  padding: 35px 0;
}

#mini-panel-social_networks h4 {
  color: black;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0 0 0.75em;
}

#mini-panel-social_networks .panel-pane {
  width: 250px;
  text-align: center;
}

#mini-panel-social_networks > .panel-panel > div {
  text-align: center;
  display: block;
  width: 100%;
}

#mini-panel-social_networks > .panel-panel > div > div {
  display: inline-block;
  vertical-align: middle;
}

#mini-panel-social_networks > .panel-panel > div > div + div {
  margin-left: 50px;
}

#mini-panel-social_networks .panel-pane ul {
  margin: 0;
  padding: 0;
}

#mini-panel-social_networks .pane-twitter-panel-pane-twitter {
  color: white;
  background: #45a2ef;
}

#mini-panel-social_networks .pane-twitter-panel-pane-twitter h4 {
  color: white;
}

#mini-panel-social_networks .pane-twitter-panel-pane-twitter h4 > a {
  display: block;
}

#mini-panel-social_networks .pane-twitter-panel-pane-twitter .view-id-twitter {
  padding: 15px 35px 35px 35px;
  font-size: 0.9em;
}

#mini-panel-social_networks .pane-facebook-last-post {
  background: #324d92;
  color: white;
}

#mini-panel-social_networks .pane-facebook-last-post h4 {
  background: #324d92;
  color: white;
}

#mini-panel-social_networks .pane-facebook-last-post h4 > a{
  display: block;
}

#mini-panel-social_networks .facebook-message {
  padding: 15px 35px 35px 35px;
  font-size: 0.9em;
}
#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block{
  background-color:white;
}
#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block h4 {
  color: #c20000;
}

#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block h4 > a {
  display: block;
}

#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block .ct-youtube-video {
  padding: 15px 35px 35px 35px;
}

#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block .ct-youtube-image {
  padding: 0 10px;
}

#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block .ct-youtube-title {
  font-weight: normal;
  font-size: 0.9em;
}

#mini-panel-social_networks .pane-facebook-last-post .pane-title:before,
#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block .pane-title:before,
#mini-panel-social_networks .pane-twitter-panel-pane-twitter .pane-title:before,
#mini-panel-social_networks .pane-aphp-linkedin-aphp-linkedin-homepage .pane-title:before {
  display: inline-block;
  content: ' ';
  height: 24px;
  width: 24px;
  background: transparent url("../images/social_networks_homepage.png") 0 0 no-repeat;
  margin: 15px auto 0 auto;
}

#mini-panel-social_networks .pane-ct-youtube-ct-youtube-block .pane-title:before {
  background-position: -72px 0;
}

#mini-panel-social_networks .pane-twitter-panel-pane-twitter .pane-title:before {
  background-position: -24px 0;
}

#mini-panel-social_networks .pane-aphp-linkedin-aphp-linkedin-homepage .pane-title:before {
  background-position: -48px 0;
}

#mini-panel-social_networks .pane-aphp-linkedin-aphp-linkedin-homepage {
  background-color: #0073b9;
  color: white;
  padding: 0 35px;
}

#mini-panel-social_networks .pane-aphp-linkedin-aphp-linkedin-homepage .aphp-linkedin-block {
  padding-top: 15px;
  font-size: 0.9em;
}

#mini-panel-social_networks .pane-aphp-linkedin-aphp-linkedin-homepage .aphp-linkedin-block .aphp-linkedin-date {
  padding-bottom: 15px;
}

#mini-panel-social_networks .pane-aphp-linkedin-aphp-linkedin-homepage h4 {
  color: white;
}

#mini-panel-social_networks .pane-aphp-linkedin-aphp-linkedin-homepage h4 > a {
  display: block;
}

/* Services menu */
.pane-menu-menu-services {
  background: #e6f1f9;
}

.pane-menu-menu-services > ul {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  list-style: none;
  text-align: center;
  display: block;
  width: 100%;
}

.pane-menu-menu-services > ul > li.menu__item {
  color: #00609e;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.pane-menu-menu-services > ul > li > h2 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-transform: none;
  color:inherit;
}

.pane-menu-menu-services > ul > li > h2 > a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1em;
  line-height: 50px;
}

.pane-menu-menu-services > ul > li > h2 > a:before {
  color: #00408c;
  margin-right: 15px;
  font-size: 1.3em;
}

.pane-menu-menu-services > ul > li > h2 > a > span {
  font-family: "Open sans", sans-serif;
  font-weight: normal;
}

/* front page map */
.pane-aphp-carto-hospital-homepage {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.pane-aphp-carto-hospital-homepage .pane-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 45px 0 25px 0;
  color: #00428b;
  font-size: 3em;
  margin: 0;
}

.pane-aphp-carto-hospital-homepage .homepage-map-description {
  padding: 10px 0;
  font-size: 0.8em;
  color: #83a1c4;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.pane-aphp-carto-hospital-homepage > div {
  margin-top: 15px;
  margin-bottom: 35px;
}

.pane-aphp-carto-hospital-homepage .homepage-map-link a:active,
.pane-aphp-carto-hospital-homepage .homepage-map-link a:hover {
  text-decoration: none;
}
