
/* 
  ce fichier rassemble le CSS des diaporamas photos qui était éparpillé 
 	Il reste encore du rangement. Enjoy :) 
*/

/* diaporama */
.pane-aphp-diaporama-panel-pane-diaporama {
  /*	margin: 0 -30px 30px;
    padding: 20px 30px;
    border-top: #ececec solid 4px;*/
  margin-top: 50px;
  position: relative;
}

.pane-aphp-document-panel-pane-1 {
  border-top: none;
}
.widget_pager {
  position: absolute;
  top: 37px;
  right: 30px;
  z-index: 20;
  text-align: right;
}
.widget_pager .views-slideshow-pager-field-item,
.widget_pager .views-slideshow-pager-field-item div {
  display: inline;
}
.widget_pager .views-slideshow-pager-field-item .views-content-counter {
  display: inline-block;
  height: 13px;
  width: 13px;
  text-align: left;
  text-indent: -999em;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 3px;
  background: #cecccc;
  vertical-align: top;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.widget_pager .views-slideshow-pager-field-item .views-content-counter:hover,
.widget_pager .active .views-content-counter {
  background-color: #c32e3c;
}

/* on cache les bouton lecture et pause */
.views-slideshow-controls-top .views-slideshow-controls-text-status-play,
.views-slideshow-controls-top .views-slideshow-controls-text-status-pause {
  display: none;
}

/* placement des boutons précédent et suivant */
.views-slideshow-controls-text-previous,
.views-slideshow-controls-text-next{
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.views-slideshow-controls-text-previous {
  left: 15px;
}
.views-slideshow-controls-text-next{
  right: 15px;
}
.views-slideshow-controls-text-previous a,
.views-slideshow-controls-text-next a,
.views-slideshow-controls-text-previous a:focus,
.views-slideshow-controls-text-next a:focus,
.views-slideshow-controls-text-previous a:visited,
.views-slideshow-controls-text-next a:visited {
  visibility:hidden;
}
.views-slideshow-controls-text-previous {
  height: 94px;
  width: 47px;
  background: url('../images/icon/fleche-diapo-left.png') 8px no-repeat #000000;
  display: block;
  position: absolute;
  left: 1.3em;
  z-index: 100;
  filter: alpha(opacity=50);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.5;
}
.views-slideshow-controls-text-previous:hover{
  filter: alpha(opacity=70);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.70;
  opacity: 0.7;
}
.views-slideshow-controls-text-next {
  height: 94px; width: 47px;
  background: url('../images/diapo-arrow-left.png') center no-repeat;
  display: block;
  position: absolute;
  right: 1.3em;
  z-index: 100
}
.node-type-rubrique .colonne-droite .views-slideshow-controls-text-previous,
.node-type-rubrique .colonne-droite .views-slideshow-controls-text-next{
  height: 26px; width: 17px;
  background: url('../images/diapo-arrow-white-left.png') no-repeat;
  position: absolute; top: 0.6em;
  z-index: 100;
}
.node-type-rubrique .colonne-droite .views-slideshow-controls-text-previous{
  left: 1.2em;
}
.node-type-rubrique .colonne-droite .views-slideshow-controls-text-next{
  height: 26px; 
  width: 17px;
  background: url('../images/diapo-arrow-white-right.png') no-repeat;
  right: 1.2em;
}
.views-slideshow-controls-text-next{
  height: 94px; width: 47px;
  background: url('../images/icon/fleche-diapo-right.png') 10px no-repeat #000000;
  filter: alpha(opacity=50);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.5;
}
.views-slideshow-controls-text-next:hover{
  filter: alpha(opacity=70);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.70;
  opacity: 0.7;
}
#views_slideshow_controls_text_aphp_diaporama-diaporama_embed {
  width: 100%;
  position: relative;
}
.views-slideshow-controls-text-previous:hover a,
.views-slideshow-controls-text-next:hover a,
.views-slideshow-controls-text-previous:focus a,
.views-slideshow-controls-text-next:focus a {
  color: transparent;
}
/*.views-slideshow-controls-text-previous:hover{
  background: url('../images/diapo-arrow-left-over.png') no-repeat;
}
.views-slideshow-controls-text-next:hover{
  background: url('../images/diapo-arrow-right-over.png') no-repeat;
}*/
#views_slideshow_controls_text_aphp_diaporama-diaporama_embed_photo {
  position: relative;
  width: 100%;
}
#views_slideshow_controls_text_pause_aphp_diaporama-diaporama_embed_photo {
  display: none;
}
.pane-aphp-diaporama-panel-pane-diaporama .views-slideshow-cycle-main-frame-row {
  padding: 0 38px;
  width: 100%!important;
  font-size: 14px; font-size: 1.4rem;
  line-height: 1.6;
}
.pane-aphp-diaporama-panel-pane-diaporama .views-slideshow-cycle-main-frame-row:after {
  content: ""; display: block; overflow: hidden; clear: both; visibility: hidden;
}

/* Diaporama embed */

/* diaporama embed media/photo fond blanc */
.view-mode-node_embed #views_slideshow_cycle_teaser_section_aphp_diaporama-diaporama_embed,
#views_slideshow_cycle_main_aphp_diaporama-diaporama_embed_photo {
  background: white;
}

#views_slideshow_cycle_main_aphp_diaporama-diaporama_embed .view-mode-node_embed {
  margin-bottom: 1em;
}

/* diaporama embed media/photo contrôles */
#views_slideshow_controls_text_previous_aphp_diaporama-diaporama_embed,
#views_slideshow_controls_text_previous_aphp_diaporama-diaporama_embed_photo {
  top: 0;
  left: 0;
}

#views_slideshow_controls_text_next_aphp_diaporama-diaporama_embed,
#views_slideshow_controls_text_next_aphp_diaporama-diaporama_embed_photo {
  top: 0;
  right: 0;
}

#views_slideshow_controls_text_pause_aphp_diaporama-diaporama_embed,
#views_slideshow_controls_text_pause_aphp_diaporama-diaporama_embed_photo{
  display: none;
}

/* diaporama embed media champs */
/* image */
.view-mode-node_embed .field-name-field-image {
  margin: 0 2.5em;
}

.view-mode-node_embed .field-name-field-image a {
  display: block;
}

.view-id-aphp_diaporama .views-field-field-photo {
  display: block;
}
.node-type-diaporama .views-field-field-credits{
  color: #808080;
}
/* titre */
.view-mode-node_embed .field-name-title,
.view-mode-node_embed  .field-name-field-credits,
.view-mode-node_embed  .field-name-field-description {
  font-size: 0.9em;
  line-height: 1.4em;
  margin-left: 3em;
}

.view-mode-node_embed .field-name-title .title-photo-node-embed {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: black;
}

/* titre du diaporama */
.view-mode-node_embed h2.node-title{
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em 0;
  margin-bottom: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;        
}
.view-mode-node_embed h2.node-title a{
  text-decoration: none;
  color: #000;
}
.view-display-id-diaporama_detail_photo .views_slideshow_cycle_slide{
  text-align: center;
}

/** view embed custom */
.custom-embed-photo{
  background: #ececec; 
}
.custom-embed-photo .content-caption-image{
  position: relative; 
  margin-top: 0px;
  top: -25px;
}

#views_slideshow_controls_text_aphp_diaporama-diaporama_embed_photo{
  line-height: 0px;
}
/* view diapo photo 386 x 218 */
.pane-aphp-diaporama-diaporama-photo{
  margin: 0 -30px 30px;
  padding: 20px 30px;
  border-top: #ececec solid 4px;
  position: relative; 
}
.custom-diaporama-photo .views-field-field-photo{
  float: left;
  margin: 0 18px 0 0;
}

.custom-diaporama-photo .title-photo-node{
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}
.custom-diaporama-photo .views-slideshow-cycle-main-frame-row{
  padding: 0 38px;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6; 
}

/* diaporama photo */
#views_slideshow_cycle_teaser_section_aphp_diaporama-diaporama_embed p {
  height: 0;
}

.view-id-aphp_diaporama .views-slideshow-cycle-main-frame-row-item > p {
  margin: 0;
}

.diaporama-photo-embed {
  font-size: 0.9em;
  line-height: 1.4em;
  margin: -2em 0 0 3em;
}

.views-slideshow-controls-text {
  height: 0;
  position: relative;
}

/* diaporama entity reference contrôles */
#views_slideshow_controls_text_previous_aphp_diaporama-panel_pane_diaporama,
#views_slideshow_controls_text_previous_aphp_diaporama-diaporama_photo {
  top: 0;
  left: 0;
}

#views_slideshow_controls_text_next_aphp_diaporama-panel_pane_diaporama,
#views_slideshow_controls_text_previous_aphp_diaporama-diaporama_photo {
  top: 0;
  right: 0;
}

/* diaporama entity reference champs */
.pane-aphp-diaporama-panel-pane-diaporama .field-type-image {
  float: left;
  width: 50%;
}

.pane-aphp-diaporama-panel-pane-diaporama .field-type-image img {
  max-width: none;
  width: 100%;
}

.pane-aphp-diaporama-panel-pane-diaporama .field-name-field-thematique,
.pane-aphp-diaporama-panel-pane-diaporama .field-name-field-description,
.pane-aphp-diaporama-panel-pane-diaporama .field-name-field-credits {
  float: left;
  width: 50%;
  padding-left: 16px;
}

.pane-aphp-diaporama-panel-pane-diaporama .field-name-field-thematique,
.view-display-id-diaporama_photo .photo-thematique {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-top: 1em;
}

.pane-aphp-diaporama-panel-pane-diaporama .node-title {
  font-weight: bold;
  float: left;
  width: 50%;
  padding-left: 16px;
  font-size: 1.2em;
}

.view-display-id-diaporama_photo .photo-title {
  font-weight: bold;
  font-size: 1.2em;
}

.pane-aphp-diaporama-panel-pane-diaporama .field-name-field-credits,
.view-display-id-diaporama_photo .photo-credits {
  font-style: italic;
}

/********** Diaporama : page détail **********/
.diaporama-detail .pane-custom{
  height: 22px;
  margin: 50px 0 0 0;
  text-transform: uppercase;
  color: #00a2e0;
  font-weight: bold;

}
.diaporama-detail .pane-node-field-thematique{
  padding: 20px 63px 6px;
  overflow: hidden;
  background: url("../images/icon/fleche-bleu.png") 21px 19px no-repeat #eff9fe ;
}

.diaporama-detail .pane-node-field-thematique .field-item h2{
  width: auto;
  float: left;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  border-right: 2px solid #000000;
}

.diaporama-detail .pane-node-field-thematique .field-item:last-child h2{
  border-right: none;
}
.diaporama-detail .pane-node-field-media-rattache .node header{
  display: none;
}
.diaporama-detail .pane-node-field-media-rattache .field-name-field-reference-dailymotion{
  margin: 0;
}
.diaporama-detail #media-dailymotion-1{
  height: 650px!important; width: 100%!important;
}
.diaporama-detail #media-dailymotion-1 iframe,
.diaporama-detail #media-dailymotion-1 .media-dailymotion-preview-wrapper{
  height: 100%!important;
}
.diaporama-detail .field-name-field-credits{
  padding: 25px 25px 15px 25px;
  margin-top: -5px;
  background: white;
  font-weight: 600;
}
.diaporama-detail .field-name-field-credits .field-label{
  font-size: 17px;
  text-transform: initial;
  font-weight: 600;
  margin: 0 3px 0 0;
  float: left;
}
.diaporama-detail .field-name-field-credits .field-item{
  font-style: initial;
}
.diaporama-detail .pane-node-field-description-media{
  padding: 30px 0px 36px 0px;
}
.diaporama-detail .view-aphp-diaporama .node-photo .field-name-field-image{
  margin: 0 2.5em;  
  overflow: hidden;
}
.diaporama-detail .view-aphp-diaporama .node-photo .field-name-field-image img{
  height: auto;
  width: 100%;
}
.diaporama-detail .view-aphp-diaporama .views_slideshow_cycle_slide{
  width: 1200px!important;
}
.diaporama-detail .view-aphp-diaporama .views_slideshow_controls_text_pause,
.diaporama-detail .view-aphp-diaporama .views-field-counter,
.diaporama-detail .view-aphp-diaporama .node-photo .links span,
.diaporama-detail .view-aphp-diaporama .node-video .links span,
.diaporama-detail .view-aphp-diaporama .node-photo header,
.diaporama-detail .view-aphp-diaporama .node-video header{
  display: none;
}
.diaporama-detail .views-slideshow-controls-text-previous a,
.diaporama-detail .views-slideshow-controls-text-next a{
  top: 47%;
  z-index: 100;
}
.diaporama-detail .view-aphp-diaporama{
  position: relative;
}

.diaporama-detail .views-field-title{
  font-weight: 700;
  margin-top: -20px;
}

/* diaporama détail média contrôles */
#views_slideshow_controls_text_previous_aphp_diaporama-panel_pane_diaporama_detail,
#views_slideshow_controls_text_previous_aphp_diaporama-diaporama_detail_photo {
  top: 0;
  left: 0;
}

#views_slideshow_controls_text_next_aphp_diaporama-panel_pane_diaporama_detail,
#views_slideshow_controls_text_next_aphp_diaporama-diaporama_detail_photo {
  top: 0;
  right: 0;
}

/* publications */
.view-aphp-document .views-slideshow-cycle-main-frame-row:after {
  content: ""; display: block; overflow: hidden; clear: both; visibility: hidden;
}
.view-aphp-document .views-slideshow-cycle-main-frame-row {
  padding: 2em 4.5em;
  color: white;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.view-aphp-document .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item .views-field-field-visuel {
  overflow: hidden;
  float: left;
}
.view-aphp-document .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item .views-field-title {
  padding: 0.5em 0 0 10em;
}
.view-aphp-document .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item .views-field-download {
  padding: 2em 0 0 13.7em;
  background: url('../images/download-white.png') 10em 1.7em no-repeat;
  line-height: 1.2;
}
.view-aphp-document .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item .field-content a {
  display: block;
}
.view-aphp-document .views-slideshow-controls-text-previous a,
.view-aphp-document .views-slideshow-controls-text-next a {
  margin-top: 0;
}
.view-aphp-document .views-slideshow-controls-text-previous a:before,
.view-aphp-document .views-slideshow-controls-text-next a:before {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  /* diaporama embed média */
  .view-mode-node_embed .field-name-title,
  .view-mode-node_embed .field-name-field-credits, 
  .view-mode-node_embed  .field-name-field-description,
  .view-display-id-diaporama_embed .field-name-field-image {
    margin: 0;
  }

  /* diaporama embed photo */
  .diaporama-photo-embed {
    margin: 0;
    float: none;
  }

  /* diaporama entity reference média */
  .pane-aphp-diaporama-panel-pane-diaporama .field-type-image {
    float: none; 
    width: 100%;
  }

  .pane-aphp-diaporama-panel-pane-diaporama .views-slideshow-cycle-main-frame-row {
    padding: 0;
  }

  .pane-aphp-diaporama-panel-pane-diaporama .field-name-field-thematique,
  .pane-aphp-diaporama-panel-pane-diaporama .node-title,
  .pane-aphp-diaporama-panel-pane-diaporama .field-name-field-description,
  .pane-aphp-diaporama-panel-pane-diaporama .field-name-field-credits {
    padding: 0;
    float: none;
  }

  /* diaporama entity reference photo */
  .view-id-aphp_diaporama .views-slideshow-cycle-main-frame-row {
    padding: 0;
  }

  .view-id-aphp_diaporama .views-field-field-photo {
    margin: 0;
    float: none;
  }

  .view-id-aphp_diaporama .field-slideshow {
    width: 100%!important;
  }

  .view-id-aphp_diaporama .field-slideshow-slide img {
    width: 100%!important;
  }

  /* diaporama détail média */
  .diaporama-detail .view-aphp-diaporama .node-photo .field-name-field-image{
    margin: 0;  
  }

  .diaporama-detail .pane-node-field-media-rattache img{
    padding: 0 20px;
  }

  .diaporama-detail #media-dailymotion-1 iframe,
  .diaporama-detail #media-dailymotion-1 .media-dailymotion-preview-wrapper,
  .diaporama-detail #media-dailymotion-1{
    height: auto!important;
  }

  .diaporama-detail .view-aphp-diaporama .views-slideshow-cycle-main-frame,
  .diaporama-detail .view-aphp-diaporama .views-slideshow-cycle-main-frame-row{
    width: 100%!important;
  }

  .diaporama-detail .views-slideshow-controls-text-previous a,
  .diaporama-detail .views-slideshow-controls-text-next a{
    top: 37%!important;
  }
}

